<%- include('../layouts/head.ejs', { title: 'Profiel bewerken - HDate' }) %>

<header class="header">
    <a href="/account"><i class="fa fa-angle-left"></i></a>
    <h1 class="header__chat-heading">Profiel Bewerken</h1>
</header>
<main class="container container--mobile">
    <form class="two-column" action="/account?_method=PATCH" method="POST" enctype="multipart/form-data">
        <fieldset class="fieldset">
            <legend class="fieldset__legend">Accountgegevens</legend>
            <label class="form-group">
                E-mailadres
                <input autocomplete="email" type="email" name="email" class="form-group__input" value="<%= data.email %>" required>
            </label>
            <label class="form-group">
                Oud wachtwoord
                <input type="password" name="password_old" class="form-group__input">
            </label>
            <label class="form-group">
                Nieuw wachtwoord
                <input type="password" name="password_new" class="form-group__input">
            </label>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset__legend">Persoonlijke info</legend>
            <div class="form-group form-group--image" data-image-upload>
                <input id="avatar" class="form-group__input" autocomplete="photo" type="file" name="avatar" accept="image/*">
                <label for="avatar" class="form-group__label">
                    Profielfoto Toevoegen
                </label>
            </div>
            <label class="form-group">
                Voornaam
                <input autocomplete="given-name" class="form-group__input" type="text" name="first_name" value="<%= data.firstName %>" required>
            </label>
            <label class="form-group">
                Achternaam
                <input autocomplete="family-name" class="form-group__input" type="text" name="last_name" value="<%= data.lastName %>" required>
            </label>
            <div class="form-combine">
                <label class="form-group form-group--age">
                    Leeftijd
                    <input class="form-group__input" min="18" value="<%= data.age %>" max="99" type="number" name="age" required>
                </label>
                <label class="form-group form-group--location">
                    Woonplaats
                    <input autocomplete="address-level2" class="form-group__input" type="text" value="<%= data.location %>" name="location">
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset fieldset--small" required>
            <legend class="fieldset__legend">Je bent een...</legend>
            <div class="form-combine">
                <label class="form-group form-group--checkbox">
                    <input class="form-group__radio fa" type="radio" name="sex" value="male" <% if (data.sex=='male' ) { %> checked
                    <% } %>> Man
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__radio fa" type="radio" name="sex" value="female" <% if (data.sex=='female' ) { %> checked
                    <% } %>> Vrouw
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset fieldset--small" required>
            <legend class="fieldset__legend">en valt op...</legend>
            <div class="form-combine">
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="male" <% if (data.sexPref.includes('male') ) { %> checked
                    <% } %>> Mannen
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="female" <% if (data.sexPref.includes('female') ) { %> checked
                    <% } %>> Vrouwen
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset fieldset--small" required>
            <legend class="fieldset__legend">tussen de...</legend>
            <div class="form-combine form-combine--between">
                <div class="form-group form-group--age form-group--range">
                    <label for="age_min" class="form-group__label form-group__label--range">
                        Minimale leeftijd
                    </label>
                    <input for="age_min" type="number" class="form-group__input" value="<%= data.ageRange.min %>" max="99" min="18" name="age_min" required>
                </div>
                <p class="text--large">en</p>
                <div class="form-group form-group--age form-group--range">
                    <label for="age_max" class="form-group__label form-group__label--range">
                        Maximale leeftijd
                    </label>
                    <input id="age_max" type="number" class="form-group__input" value="<%= data.ageRange.max %>" max="99" min="18" name="age_max" required>
                </div>
            </div>
        </fieldset>
        <div class="btn-group">
            <input type="submit" class="btn btn-group__btn btn--large btn--green" value="Wijzigingen opslaan">
            <a href="/account/delete?_method=DELETE" class="btn btn-group__btn btn--large btn--red">Account verwijderen</a>
        </div>
    </form>
</main>

<%- include('../layouts/tail.ejs') %>
