<%- include('../layouts/head.ejs', { title: 'Hobbies bewerken - HDate' }) %>

<header class="header">
    <a href="/account"><i class="fa fa-angle-left"></i></a>
    <h1 class="header__chat-heading">Jouw hobbies</h1>
</header>
<main class="container">
    <section>
        <h2 class="header__heading">Toegevoegd</h2>
        <ul class="hobby-list">
            <% own.forEach(function (hobby) { %>
                <% if (own.length > 1) { %>
                    <li>
                        <form class="hobby-list__item" action="/account/hobbies/<%= hobby._id %>?_method=DELETE" method="post">
                            <button class="hobby-list__checkbox hobby-list__checkbox--remove" type="submit"></button>
                            <a href="/account/hobbies/<%= hobby._id %>" class="hobby-list__checkbox hobby-list__checkbox--edit"></a>
                            <label class="hobby-list__label hobby-list__label--both">
                                <%= hobby.name %>
                            </label>
                        </form>
                    </li>
                <% } else { %>
                    <li class="hobby-list__item">
                        <a href="/account/hobbies/<%= hobby._id %>" class="hobby-list__checkbox hobby-list__checkbox--edit"></a>
                        <label class="hobby-list__label">
                            <%= hobby.name %>
                        </label>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    </section>
    <section>
        <h2 class="header__heading">Hobbbies toevoegen</h2>
        <ul>
            <% all.forEach(function (hobby) { %>
                <li>
                    <form method="POST" class="hobby-list__item" action="/account/hobbies/<%= hobby._id %>">
                        <button class="hobby-list__checkbox" type="submit" id="<%= hobby._id %>"></button>
                        <label for="<%= hobby._id %>" class="hobby-list__label">
                            <%= hobby.name %>
                        </label>
                    </form>
                </li>
            <% }) %>
        </ul>
    </section>
</main>

<%- include('../layouts/tail.ejs') %>