<%- include('../layouts/head.ejs', { title: 'Mijn profiel - HDate' }) %>

<%- include('../layouts/homeHeader', { url: 'profile' }) %>
<main class="container">
    <section class="user-info">
        <img class="user-info__avatar" src="/images/<%=data.avatar%>" alt="Profielfoto gebruiker">
        <h1 class="user-info__name"><%= data.firstName %> <%= data.lastName %></h1>
        <h2 class="user-info__age"><%= data.age %></h2>
        <h2 class="user-info__location"><%= data.location %></h2>
    </section>
    <section>
        <h2 class="header__heading">Hobbies</h2>
        <ul class="hobbies-list">
            <% data.hobbies.forEach(function (hobby) { %>
                <li class="hobbies-list__item">
                    <img src="/images/<%= hobby.image %>" alt="Foto van iemand die breidt.">
                    <h3 title="Hobby"><%= hobby.name %></h3>
                </li>
            <% }) %>
        </ul>
    </section>
</main>
<footer class="container btn-group">
    <a class="btn-group__btn btn btn--blue" href="/account/edit">Profiel bewerken</a>
    <a class="btn-group__btn btn btn--pink" href="/account/settings">Instellingen</a>
</footer>

<%- include('../layouts/tail.ejs') %>