<%- include('../layouts/head.ejs', { title: 'Mijn profiel - HDate' }) %>

<%- include('../layouts/homeHeader', { url: 'profile' }) %>
<main class="container">
    <section class="user-info">
        <img class="user-info__avatar" src="/images/<%=data.avatar%>" alt="Profielfoto gebruiker">
        <h1 class="user-info__name"><%= data.firstName %> <%= data.lastName %></h1>
        <h2 class="user-info__age"><%= data.age %></h2>
        <h2 class="user-info__location"><%= data.location %></h2>
    </section>
    <section>
        <h2 class="header__heading">Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function (hobby) { %>
                <li class="gallery-item gallery-item--profile">
                    <img role="presentation" src="/images/<%= hobby.image %>">
                    <h3 title="Hobby"><%= hobby.name %></h3>
                </li>
            <% }) %>
        </ul>
    </section>
</main>
<a class="fixed fixed--bottom fixed--right btn btn--circle btn--pink" href="/account/edit"><i class="fas fa-pencil-alt"></i></a>

<%- include('../layouts/tail.ejs') %>