<%- include('../layouts/head.ejs', { title: 'Matches - HDate' }) %>

<%- include('../layouts/homeHeader', { url: 'messages' }) %>
<section class="container">
    <header>
        <h1 class="header__heading">Matches</h1>
    </header>
    <ul class="matches">
        <% data.matches.forEach(function (match) { %>
        <li class="matches__match">
            <a class="match__image" href="/account/<%= match._id %>">
                <img src="/images/<%= match.avatar %>" role="presentation">
                <%= match.firstName %>
            </a>
            <a class="match__link" href="mailto:<%= match.email %>">
                Stuur een mail
            </a>
        </li>
        <% }) %>
        <% if (data.matches.length === 0) { %>
            <p>Je hebt nog geen matches, ga snel swipen!</p>
        <% } %>
    </ul>
</section>

<%- include('../layouts/tail.ejs') %>
