<%- include('../layouts/head.ejs', { title: 'Home - HDate' }) %>

<%- include('../layouts/homeHeader', { url: 'home' }) %>
<main class="container">
    <% if (data) { %>
    <article class="card">
        <a href="/account/<%= data._id %>">
            <div class="card__header">
                <img src="/images/<%= data.avatar %>" alt="Profielfoto Daniëlle Schinkels">
                <h2><%= data.firstName %></h2>
                <h3><%= data.age %> jaar</h3>
                <h4><%= data.location %></h4>
            </div>
            <ul class="gallery gallery--card">
                <% data.hobbies.forEach(function (hobby) { %>
                    <li class="gallery-item gallery-item--card">
                        <img src="/images/<%= hobby.image %>" role="presentation">
                        <h3 title="Hobby"><%= hobby.name %></h3>
                        <% if (hobby.description) { %>
                            <p><%= hobby.description %></p>
                        <% } %>
                    </li>
                <% }) %>
            </ul>
        </a>
    </article>
    <% } else { %>
    <article class="card">
        <h2>Geen gebruikers over</h2>
        <p>Je hebt alle mogelijke gebruikers gehad.</p>
    </article>
    <% } %>
</main>
<% if (data) { %>
    <footer class="button-footer">
        <button data-dislike class="btn btn--circle btn--red"><i class="fa fa-thumbs-down"></i></button>
        <a class="btn btn--circle" href="/hobbies/filter"><i class="fa fa-filter"></i></a>
        <button data-like class="btn btn--circle btn--green"><i class="fa fa-thumbs-up"></i></button>
    </footer>
<% } %>

<%- include('../layouts/tail.ejs') %>