<%- include('../layouts/head.ejs', { title: 'Home - HDate' }) %>

<%- include('../layouts/homeHeader', { url: 'home' }) %>
<main class="container" <% if (data && !match) { %> data-home <% } %>>
    <% if (match) { %>
    <section class="overlay overlay--blur">
        <h1 class="text--center text--mb">Je hebt een match!</h1>
        <p class="text--center text--mb">Jij en <%= match.userTwo.firstName %> vinden elkaars hobbies leuk!</p>
        <div class="new-match">
            <img class="new-match__avatar" src="/images/<%= match.userOne.avatar %>" role="presentation">
            <img class="new-match__avatar" src="/images/<%= match.userTwo.avatar %>" role="presentation">
        </div>
        <div class="btn-group">
            <a class="btn btn--blue" href="mailto:<%= match.userTwo.email %>">Mailtje sturen</a>
            <a class="btn btn--pink" href="/home">Verder swipen</a>
        </div>
    </section>
    <article class="card">
        <a href="/account/<%= match.userTwo._id %>">
            <div class="card__header">
                <img src="/images/<%= match.userTwo.avatar %>" alt="Profielfoto Daniëlle Schinkels">
                <h2><%= match.userTwo.firstName %></h2>
                <h3><%= match.userTwo.age %> jaar</h3>
                <h4><%= match.userTwo.hobbies.length > 3 ? `${match.userTwo.hobbies.length} hobbies, waaronder:` : `${match.userTwo.hobbies.length} hobbies` %></h4>
            </div>
            <ul class="gallery gallery--card">
                <% match.userTwo.hobbies.some(function (hobby, i) { %>
                    <li class="gallery-item gallery-item--card">
                        <img src="/images/<%= hobby.image %>" role="presentation">
                        <h3 title="Hobby"><%= hobby.name %></h3>
                    </li>
                    <% return i >= 2 %>
                <% }) %>
            </ul>
        </a>
    </article>
    <% } else if (data) { %>
    <article class="card" data-user="<%= data._id %>">
        <a href="/account/<%= data._id %>">
            <div class="card__header">
                <img src="/images/<%= data.avatar %>" alt="Profielfoto Daniëlle Schinkels">
                <h2><%= data.firstName %></h2>
                <h3><%= data.age %> jaar</h3>
                <h4><%= data.hobbies.length > 3 ? `${data.hobbies.length} hobbies, waaronder:` : `${data.hobbies.length} hobbies` %></h4>
            </div>
            <ul class="gallery gallery--card">
                <% data.hobbies.some(function (hobby, i) { %>
                    <li class="gallery-item gallery-item--card">
                        <img src="/images/<%= hobby.image %>" role="presentation">
                        <h3 title="Hobby"><%= hobby.name %></h3>
                    </li>
                    <% return data.hobbies.length < 3 || i >= 2 %>
                <% }) %>
            </ul>
        </a>
    </article>
    <% } else { %>
    <article class="card">
        <h2>Geen gebruikers over</h2>
        <p>Je hebt alle mogelijke gebruikers gehad.</p>
    </article>
    <% } %>
</main>
<% if (data) { %>
    <footer class="button-footer">
        <form method="POST" action="/home/dislike/<%= data._id %>">
            <button data-dislike class="btn btn--circle btn--red"><i class="fa fa-thumbs-down"></i></button>
        </form>
        <form method="POST" action="/home/like/<%= data._id %>">
            <button data-like class="btn btn--circle btn--green"><i class="fa fa-thumbs-up"></i></button>
        </form>
    </footer>
<% } else if (match) { %>
    <footer class="button-footer">
        <form method="POST" action="/home/dislike">
            <button data-dislike class="btn btn--circle btn--red"><i class="fa fa-thumbs-down"></i></button>
        </form>
        <form method="POST" action="/home/like">
            <button data-like class="btn btn--circle btn--green"><i class="fa fa-thumbs-up"></i></button>
        </form>
    </footer>
<% } %>

<%- include('../layouts/tail.ejs') %>
