<%- include('../layouts/head.ejs', { title: 'Home - HDate' }) %>

<%- include('../layouts/homeHeader', { url: 'home' }) %>
<main class="container">
    <% if (data) { %>
    <article class="card">
        <a href="/account/user">
            <div class="card__header">
                <img src="/images/<%= data.avatar %>" alt="Profielfoto Daniëlle Schinkels">
                <h2>Daniëlle Schinkels</h2>
                <h3>21 jaar</h3>
            </div>
            <ul>
                <% data.hobbies.forEach(function (hobby) { %>
                    <li class="gallery-item gallery-item--card">
                        <img src="/images/<%= hobby.image %>.jpg" role="presentation">
                        <h3 title="Hobby"><%= hobby.name %></h3>
                    </li>
                <% }) %>
            </ul>
        </a>
    </article>
    <% } else { %>
    <article class="card">
        <h2>Geen gebruikers over</h2>
        <p>Je hebt alle mogelijke gebruikers gehad.</p>
    </article>
    <% } %>
</main>
<% if (data) { %>
    <footer class="button-footer">
        <a class="btn btn--circle btn--red" href="/home/other"><i class="fa fa-thumbs-down"></i></a>
        <a class="btn btn--circle" href="/hobbies/filter"><i class="fa fa-filter"></i></a>
        <a class="btn btn--circle btn--green" href="/home/match"><i class="fa fa-thumbs-up"></i></a>
    </footer>
<% } %>

<%- include('../layouts/tail.ejs') %>