<%- include('../layouts/head.ejs', { title: data.firstName + ' - HDate' }) %>

<header class="header">
    <a href="<%= back %>"><i class="fas fa-angle-left"></i></a>
    <h1 class="header__chat-heading"><%= data.firstName %></h1>
    <% if (match) { %><button class="relative" data-overflow="closed"><i class="fas fa-ellipsis-v"></i></button><% } %>
</header>
<main>
    <section class="user-info container">
        <img class="user-info__avatar" src="/images/<%=data.avatar%>" alt="Profielfoto gebruiker">
        <h1 class="user-info__name"><%= data.firstName %> <% if (match) { %> <%= data.lastName %> <% } %></h1>
        <h2 class="user-info__age"><%= data.age %></h2>
        <h2 class="user-info__location"><%= data.location %></h2>
    </section>
    <section class="gallery--profile container container--mobile">
        <h2 class="header__heading gallery__heading">Hobbies</h2>
        <ul class="gallery">
            <% data.hobbies.forEach(function (hobby) { %>
                <% if (hobby.description) { %>
                <li class="gallery-item gallery-item--profile gallery-item--description">
                    <img role="presentation" src="/images/<%= hobby.image %>">
                    <h3 title="Hobby"><%= hobby.name %></h3>
                    <p><%= hobby.description %></p>
                </li>
                <% } else { %>
                <li class="gallery-item gallery-item--profile">
                    <img role="presentation" src="/images/<%= hobby.image %>">
                    <h3 title="Hobby"><%= hobby.name %></h3>
                </li>
                <% } %>
            <% }) %>
        </ul>
    </section>
    <% if (match) { %>
    <footer class="flex fixed fixed--bottom fixed--right" data-overflow-fallback>
        <a class="btn btn--circle btn--blue" href="mailto:<%= data.email %>" data-title="Mailen"><i class="fa fa-envelope"></i></a>
        <a class="btn btn--circle btn--red btn--ml" href="/account/unmatch/<%= data._id %>?_method=DELETE" data-title="Unmatchen"><i class="fa fa-trash"></i></a>
    </footer>
    <% } %>
</main>

<%- include('../layouts/tail.ejs') %>
